<div class="container">
    <div class="py-5 text-left">
        <h1>Assets Map</h1>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <form class="card p-2 mb-1">
                <div class="input-group">
                    <input name="filterTruck" class="form-control" placeholder="Search asset..." [(ngModel)]="filterName"  (ngModelChange)="filterTruck()">
                    <div class="ml-1">
                        <button type="button" class="btn btn-success" (click)="openAddDialog()">Add Asset</button>
                    </div>
                </div>
            </form>
            <div class="card">
                <div class="card-header">Assets</div>
                <div class="card-body">
                    <ul class="list-group">
                        <app-track-list *ngFor="let truck of trucks" [truck]="truck" [curTruck]="curTruck" (valueChange)='displayCounter()' (click)="changePos(truck)"></app-track-list>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card col-md-8 p-0">
            <div class="card-header">Map</div>
            <div class="card-body p-0">
                <agm-map [latitude]="curTruck.lat" [longitude]="curTruck.lng" [zoom]="17">
                    <agm-marker *ngFor="let truck of trucks" [latitude]="truck.lat" [longitude]="truck.lng"></agm-marker>
                </agm-map>
            </div>
        </div>
    </div>
</div>
